body {
    margin: 0;
    overflow: hidden;
}

#loading-screen {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff; /* Set your background color */
}

#logo,h2 {
    opacity: 0;
    animation: logoFadeIn 5s ease-in-out forwards; /* Adjust animation duration and easing as needed */
}
 #h2 {
    font-family: "Protest Revolution", sans-serif;
 }
 
@keyframes logoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
